#bioskop {
    animation-duration: 3s;
    animation-name: slide-in;
    border-radius: 5px;
}

@keyframes slide-in {
    from {
        transform: scale(0.1);
        /* 10% */
    }

    to {
        transform: scale(1);
        /* 100% */
    }
}

#checkbtn {
    color: aliceblue
}

body {
    background-color: rgb(44, 52, 52);
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(160, 163, 162);
    cursor: context-menu;
}

h1 {
    animation-duration: 1s;
    animation-name: h1;
}

@keyframes h1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.navbar a {
    padding: 20px 28px 20px 28px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
}

.navbar ul {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    margin: 0;
    border-radius: 5px;
}

.navbar a:hover {
    color: aqua;
    border-bottom: 1px solid aqua;
}

@media (max-width:659px) {
    .datum_grad {
        float: left;
    }
}

@media (max-width: 1020px) {

    .navbar ul li {
        display: flex;
        width: 100%;
    }

    .navbar a {
        width: 100%;
    }

    .navbar ul {
        margin-top: 55px;
    }

    .img_index {
        flex-direction: column;
        align-items: center;
    }
}

.img_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 320px;
}

.img_index img {
    margin: 5px;
    border-radius: 5px
}

.img_index img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.2rem aqua);
}

.konklava img,
.ekskurzija img {
    padding-top: 20px;
}

footer {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    padding: 2%;
    font-size: small;
    text-align: center;
}

.konklava:hover,
.zlica:hover,
.here:hover,
.gladiator:hover,
.ekskurzija:hover {
    background-color: rgb(63, 72, 69);
    transform: scale(1.03);
    border-radius: 5px;
}

.opis {
    display: inline-block;
    color: rgb(160, 163, 162);
}

#dugme,
#dugme_nastavi {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border-color: aqua;
    border-width: 2px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#dugme:hover,
#dugme_nastavi:hover {
    color: black;
    background-color: rgb(160, 163, 162);
}

table {
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}

th {
    background-color: black;
    height: 50px;
    border: 1px solid aqua;
}


td {
    text-align: center;
    border: 1px solid aqua;
    height: 35px;
}

tr:nth-child(even) {
    background-color: rgb(160, 163, 162);
    color: #000;
}

#kontakt {
    margin-left: 20px;
}

#email {
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    border-color: aqua;
    border-width: 2px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: auto;
}

fieldset {
    border-radius: 5px;
}

#ime,
#prezime,
#email_fieldset,
#korisnicko_ime,
#lozinka {
    background-color: aliceblue;
    border-radius: 5px;
    border-color: aqua;
    border-width: 2px;
    padding: 10px;
}

textarea {
    background-color: aliceblue;
    border-radius: 5px;
    border-color: aqua;
}

#pogresan_checkbox {
    color: red;
}

#cenaUkupno {
    color: greenyellow;
}